.line {
    height: 4px;
    background-color: #6a040f;
}

.custom-file-upload {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    color: #b07d2c; /* warna icon dan teks */
    position: relative;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.fa-cloud-arrow-up {
    color: #c79854;
}

.custom-file-upload .icon {
    font-size: 40px;
}

.custom-file-upload .desc {
    margin-top: 10px;
    font-weight: bold;
}

.custom-file-upload .note {
    font-size: 0.9rem;
    color: #c9a875;
    margin-bottom: 15px;
}

.custom-file-upload .btn-upload {
    padding: 6px 20px;
    border: 2px solid #b07d2c;
    border-radius: 20px;
    background: none;
    color: #b07d2c;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.action-button {
    border-width: 0.2rem;
}

.text-gray {
    color: #667085;
}

.custom-margin-1 {
    margin-bottom: 32px;
}

/* default, warna abu-abu saat kosong */
select.placeholder {
    color: #999;
}
/* warna hitam saat sudah pilih */
select:not(.placeholder) {
    color: #000;
}
/* Agar icon tidak bisa diklik */
.pointer-events-none {
    pointer-events: none;
}

/* Style Modal Pop Up */
.text-dark-red {
    color: #660000;
}
.border-dark-red {
    border-color: #660000 !important;
}
.btn-dark-red {
    background-color: #660000;
    color: white;
    border: none;
}
.btn-dark-red:hover {
    background-color: #4d0000;
    color: white;
}
.btn-outline-dark-red {
    color: #660000;
    border: 2px solid #660000;
}
.btn-outline-dark-red:hover {
    background-color: #660000;
    color: white;
}
