* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #f5f5f5 0%, #fdf8e4 100%);
}

.notification-dropdown .dropdown-menu {
    display: none !important;
}

.notification-dropdown .dropdown-menu.show {
    display: block !important;
}

/* Style Modal Pop Up */
.text-dark-red {
    color: #660000;
}
.border-dark-red {
    border-color: #660000 !important;
}
.btn-dark-red {
    background-color: #660000;
    color: white;
    border: none;
}
.btn-dark-red:hover {
    background-color: #4d0000;
    color: white;
}
.btn-outline-dark-red {
    color: #660000;
    border: 2px solid #660000;
}
.btn-outline-dark-red:hover {
    background-color: #660000;
    color: white;
}
